MONGO_URI=mongodb+srv://<username>:<password>@<your-cluster>.mongodb.net/?retryWrites=true&w=majority&appName=<your-app-name>
JWT_SECRET=your_jwt_secret_here
SESSION_SECRET=your_session_secret_here
PORT=5000
